.header {
  width: 100%;
  order: 1;
  color: var(--produto-blue);
  font-weight: bold;
  font-size: 0.875rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  gap: 0.5rem;
}

.content span {
  padding: 0.125rem 0.5rem;
  border-radius: 10px;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--base-gray-200);
  background-color: var(--base-gray-400);
}
